* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

main {
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #302d3a;
  flex-direction: column;
  text-align: center;
}

.logo {
  margin-top: 6rem;
  margin-bottom: 1rem;
}

.logo img {
  width: 10rem;
}

.header h3 {
  font-size: 2rem;
  color: #ffffff;
  margin: 1rem 0;
  width: 80%;
  font-family: monospace;
}

.header span {
  color: #a09bb6;
}
.header p {
  color: #a09bb6;
  width: 80%;
  font-size: 1.2rem;
}

.btn-hero {
  width: 40%;
  padding: 1.3rem 0;
  background: #a09bb6;
  border-radius: 50px;
  margin-top: 2rem;
  margin-bottom: 6rem;
  transition: all ease-in-out 0.5s;
}

.btn-hero:hover {
  background: linear-gradient(45deg, rgb(21, 3, 61), rgb(22, 76, 107));
}
.btn {
  text-decoration: none;
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: sans-serif;
}

@media (max-width: 370px) {
  .contributor {
    min-width: 80%;
  }
}
.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .wrapper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.search {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.search input {
  width: 80%;
  height: 50px;
  padding-left: 20px;
  border: none;
  background: #dfdddd;
  border-radius: 50px;
  outline: none;
  font-size: 20px;
  box-shadow: 0.2px 0.2px 3px rgb(134, 136, 138);
}
input:hover {
  border: 2px solid #302d3a;
  background: #f5f4f4;
}

@media (min-width: 768px) {
  .search input {
    width: 60%;
  }
}
.container {
  grid-area: c;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 550px;
  background: #f5f4f4;
  box-shadow: 1px 1px 3px #302d3a;
}

.upper-layer {
  width: 100%;
  height: 200px;
  background: #dfdddd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-pics img {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 4px solid #a09bb6;
  margin-top: 10px;
}

.upper-layer p.name {
  color: #302d3a;
  font-size: 20px;
  font-weight: bold;
}

.upper-layer p.role {
  color: #757085;
  font-weight: bold;
  margin-bottom: 5px;
}

.content-area {
  /* display: flex;
  flex-direction: column; */
  margin: 10px;
}

.content-area h4 {
  font-family: sans-serif;
  margin-bottom: 5px;
}
.content-area p {
  margin-bottom: 10px;
  font-family: Cambria;
}

.contact img {
  width: 25px;
  height: 20px;
  margin: 0 2px;
}

.connect {
  width: 80%;
  height: 40px;
  background: #302d3a;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.connect a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
}

footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 95%;
  font-weight: bold;
  margin: 50px 0 0 0;
  height: 30px;
  color: #ffffff;
  background: linear-gradient(45deg, rgb(95, 92, 117), rgb(59, 62, 65));
}
