* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

main {
  width: 100vw;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #302d3a;
  flex-direction: column;
  text-align: center;
}

.logo {
  margin-top: 6rem;
  margin-bottom: 1rem;
}

.logo img {
  width: 10rem;
}

.header h3 {
  font-size: 2rem;
  color: #ffffff;
  margin: 1rem 0;
  width: 80%;
  font-family: monospace;
}

.header span {
  color: #a09bb6;
}
.header p {
  color: #a09bb6;
  width: 80%;
  font-size: 1.2rem;
}

.btn-hero {
  width: 40%;
  padding: 1.3rem 0;
  background: #a09bb6;
  border-radius: 50px;
  margin-top: 2rem;
  margin-bottom: 6rem;
  transition: all ease-in-out 0.5s;
}

.btn-hero:hover {
  background: linear-gradient(45deg, rgb(21, 3, 61), rgb(22, 76, 107));
}
.btn {
  text-decoration: none;
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: sans-serif;
}

@media (max-width: 370px) {
  .contributor {
    min-width: 80%;
  }
}
.wrapper {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 800px) {
  .wrapper {
    grid-template-columns: 2;
  }
}

.search {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.search input {
  width: 80%;
  height: 50px;
  padding-left: 20px;
  border: none;
  background: #dfdddd;
  border-radius: 50px;
  outline: none;
  font-size: 20px;
  box-shadow: 0.2px 0.2px 3px rgb(134, 136, 138);
}
input:hover {
  border: 2px solid #302d3a;
  background: #f5f4f4;
}

@media (min-width: 768px) {
  .search input {
    width: 60%;
  }
}

.connect {
  margin: 1rem 0;
}

.connect a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 10px 20px;
  background: #302d3a;
}

.card {
  box-shadow: 1px 1px 3px #302d3a;
}

.card-header {
  background: #dfdddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.card-header p {
  color: #302d3a;
  font-size: 20px;
  font-weight: bold;
  margin-top: 1rem;
}

.card-header span {
  color: #757085;
  font-weight: bold;
}

.card-body {
  font-family: sans-serif;
  padding: 1rem;
  background-color: #f5f4f4;
}
.card-body h4 {
  margin: 1rem 0;
}

.card-header img {
  border: 4px solid #a09bb6;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.contact {
  margin-bottom: 1rem;
}

.contact img {
  width: 25px;
  height: 20px;
  margin-right: 2px;
}

footer {
  font-weight: bold;
  color: #ffffff;
  background: linear-gradient(45deg, rgb(95, 92, 117), rgb(59, 62, 65));
  padding: 2rem;
}
